// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.image
{
    img
    {
        width: 150px;
        height: 150px;
    }
}

.item
{
    border: 1px dashed black;
    display: inline-block;
    padding: 10px;
    margin-bottom: 5px;
    .description
    {
        height: 48px;
    }
    p
    {
        margin: 0px;
        width: 200px;
    }
    .qty
    {
        width: 30px;
    }
}